page-survey-report-add {
  .insurance-header{
    background: linear-gradient(to bottom right, #03a9f4, #03a9f4);
    //background: linear-gradient(to bottom right, #3b5998, #8b9dc3);
  }
  .form-header.list-header-md, .form-header.list-header-ios{
    //background: linear-gradient(to bottom right, #f8bbd0 , #f06292, #f50057);
    background: transparent;
    color: #0388cb ;
  }
}
