page-work-report-add {
  .work-header{
    background: linear-gradient(to bottom right, #03a9f4, #03a9f4);
    //background: linear-gradient(to bottom right, #0F9D58, #a5d6a7);
  }

  .form-header.list-header-md, .form-header.list-header-ios{
    //background: linear-gradient(to bottom right, #f8bbd0 , #f06292, #f50057);
    background: transparent;
    color: #0388cb ;
  }
}
